#importing the library for dataset manipulation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Importing the dataset

In [2]:
df = pd.read_csv("ipl.csv")
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

#Data Manupulation

getting information about dataset (ie.determining shape, calculating null values,getting columns names and relation between them etc.)

In [3]:
df.shape

(76014, 15)

In [4]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park'],
      dtype=object)

In [5]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

getting info about type of data in columns (i.e categorical or integer or boolean )

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [7]:
df.describe()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
count,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000
mean,308.627740,74.889349,2.415844,9.783068,33.216434,1.120307,24.962283,8.869287,160.901452
std,178.156878,48.823327,2.015207,5.772587,14.914174,1.053343,20.079752,10.795742,29.246231
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000
25%,154.000000,34.000000,1.000000,4.600000,24.000000,0.000000,10.000000,1.000000,142.000000
50%,308.000000,70.000000,2.000000,9.600000,34.000000,1.000000,20.000000,5.000000,162.000000
75%,463.000000,111.000000,4.000000,14.600000,43.000000,2.000000,35.000000,13.000000,181.000000
max,617.000000,263.000000,10.000000,19.600000,113.000000,7.000000,175.000000,109.000000,263.000000

In [8]:
df.corr()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
mid,1.000000,0.026470,-0.055220,0.002487,0.045320,-0.031886,0.033432,0.049975,0.096586
runs,0.026470,1.000000,0.591007,0.938154,0.750565,0.297768,0.594818,0.315422,0.254498
wickets,-0.055220,0.591007,1.000000,0.755240,0.242942,0.693740,0.019712,-0.171962,-0.337343
overs,0.002487,0.938154,0.755240,1.000000,0.629374,0.382850,0.477508,0.236430,0.022282
runs_last_5,0.045320,0.750565,0.242942,0.629374,1.000000,0.058672,0.675924,0.501475,0.368253
wickets_last_5,-0.031886,0.297768,0.693740,0.382850,0.058672,1.000000,-0.214576,-0.421250,-0.273475
striker,0.033432,0.594818,0.019712,0.477508,0.675924,-0.214576,1.000000,0.554439,0.381664
non-striker,0.049975,0.315422,-0.171962,0.236430,0.501475,-0.421250,0.554439,1.000000,0.293233
total,0.096586,0.254498,-0.337343,0.022282,0.368253,-0.273475,0.381664,0.293233,1.000000

In [9]:
df.isnull().sum()
#no null values in dataset

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

deciding about which columns are important for prediction of dependent parameter

In [10]:

columns_to_remove = ['mid', 'batsman', 'bowler', 'striker', 'non-striker']
df.drop(labels = columns_to_remove,axis=1,inplace= True)
df

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...,...,...
76009,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,129
76010,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,129
76011,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,129
76012,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,129
76013,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,129

only keeping data after 5 overs

In [11]:
df = df[df['overs']>=5.0]

In [12]:
df.tail()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
76009,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,129
76010,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,129
76011,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,129
76012,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,129
76013,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,129

removing the Teams that are not playing in latest tornament of IPL(i.e 2022)

In [13]:
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                    'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
                    'Delhi Daredevils', 'Sunrisers Hyderabad']

In [14]:
df = df[(df['bat_team'].isin(consistent_teams)) & (df['bowl_team'].isin(consistent_teams))]

making date column in the date format to sort the data

In [15]:
from datetime import datetime
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

applying the Label Encoding to handle categorical data

In [16]:
# encoded_df = pd.get_dummies(data=df, columns=['bat_team', 'bowl_team'])
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
le_venue = LabelEncoder()
le_toss_deci = LabelEncoder()

In [17]:
alpha = ['bat_team', 'bowl_team']
df[alpha[0]] = le1.fit_transform(df[alpha[0]])
df[alpha[1]] = le1.transform(df[alpha[1]])
temp = dict(zip(le1.classes_,le1.transform(le1.classes_)))
temp

{'Chennai Super Kings': 0,
 'Delhi Daredevils': 1,
 'Kings XI Punjab': 2,
 'Kolkata Knight Riders': 3,
 'Mumbai Indians': 4,
 'Rajasthan Royals': 5,
 'Royal Challengers Bangalore': 6,
 'Sunrisers Hyderabad': 7}

In [18]:
df['venue'] = le_venue.fit_transform(df['venue'])
temp = dict(zip(le_venue.classes_,le_venue.transform(le_venue.classes_)))
temp

{'Barabati Stadium': 0,
 'Brabourne Stadium': 1,
 'Buffalo Park': 2,
 'De Beers Diamond Oval': 3,
 'Dr DY Patil Sports Academy': 4,
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 5,
 'Dubai International Cricket Stadium': 6,
 'Eden Gardens': 7,
 'Feroz Shah Kotla': 8,
 'Himachal Pradesh Cricket Association Stadium': 9,
 'Holkar Cricket Stadium': 10,
 'JSCA International Stadium Complex': 11,
 'Kingsmead': 12,
 'M Chinnaswamy Stadium': 13,
 'MA Chidambaram Stadium, Chepauk': 14,
 'Maharashtra Cricket Association Stadium': 15,
 'New Wanderers Stadium': 16,
 'Newlands': 17,
 'OUTsurance Oval': 18,
 'Punjab Cricket Association IS Bindra Stadium, Mohali': 19,
 'Punjab Cricket Association Stadium, Mohali': 20,
 'Rajiv Gandhi International Stadium, Uppal': 21,
 'Sardar Patel Stadium, Motera': 22,
 'Sawai Mansingh Stadium': 23,
 'Shaheed Veer Narayan Singh International Stadium': 24,
 'Sharjah Cricket Stadium': 25,
 'Sheikh Zayed Stadium': 26,
 "St George's Park": 27,
 'Subrata Roy Sahara Stadium': 28,
 'SuperSport Park': 29,
 'Wankhede Stadium': 30}

In [19]:
encoded_df = df
encoded_df.columns

Index(['date', 'venue', 'bat_team', 'bowl_team', 'runs', 'wickets', 'overs',
       'runs_last_5', 'wickets_last_5', 'total'],
      dtype='object')

sorting the columns to get independent and dependent variables seperated

In [20]:
encoded_df.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,13,3,6,61,0,5.1,59,0,222
33,2008-04-18,13,3,6,61,1,5.2,59,1,222
34,2008-04-18,13,3,6,61,1,5.3,59,1,222
35,2008-04-18,13,3,6,61,1,5.4,59,1,222
36,2008-04-18,13,3,6,61,1,5.5,58,1,222

In [21]:
encoded_df.shape

(40108, 10)

In [22]:
encoded_df.columns

Index(['date', 'venue', 'bat_team', 'bowl_team', 'runs', 'wickets', 'overs',
       'runs_last_5', 'wickets_last_5', 'total'],
      dtype='object')

train test split of data according to date for training and getting better reslt as it show output for new values

In [23]:
X_train = encoded_df.drop(labels='total', axis=1)[encoded_df['date'].dt.year <= 2016]
X_test = encoded_df.drop(labels='total', axis=1)[encoded_df['date'].dt.year >= 2017]

y_train = encoded_df[encoded_df['date'].dt.year <= 2016]['total'].values
y_test = encoded_df[encoded_df['date'].dt.year >= 2017]['total'].values

In [24]:
X_train.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5
32,2008-04-18,13,3,6,61,0,5.1,59,0
33,2008-04-18,13,3,6,61,1,5.2,59,1
34,2008-04-18,13,3,6,61,1,5.3,59,1
35,2008-04-18,13,3,6,61,1,5.4,59,1
36,2008-04-18,13,3,6,61,1,5.5,58,1

dropping the date column as its work is done

In [25]:
 X_train.drop(labels='date', axis=True, inplace=True)
X_test.drop(labels='date', axis=True, inplace=True)
X_train

,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5
32,13,3,6,61,0,5.1,59,0
33,13,3,6,61,1,5.2,59,1
34,13,3,6,61,1,5.3,59,1
35,13,3,6,61,1,5.4,59,1
36,13,3,6,61,1,5.5,58,1
...,...,...,...,...,...,...,...,...
68857,13,7,6,194,7,19.2,54,4
68858,13,7,6,200,7,19.3,56,4
68859,13,7,6,201,7,19.4,56,4
68860,13,7,6,202,7,19.5,57,4
68861,13,7,6,208,7,19.6,62,4

#Random Forest Regressor

importing the random forest regressor

In [26]:
from sklearn.ensemble import RandomForestRegressor

In [27]:
# from sklearn.model_selection import GridSearchCV

In [28]:
# import numpy as np
# n_estimators =[200,800,1000]# [int (x) for x in np.linspace(start = 100,stop = 1200,num=12)]
# max_features = ['sqrt']
# max_depth = [int (x) for x in np.linspace(start = 5,stop = 30,num =6)]
# min_samples_split = [2,5,10,15,100]
# min_samples_leaf = [1,2,5,10]

# random_grid = {'n_estimators': n_estimators,
#               'max_features':max_features,
#               'max_depth': max_depth,}
#               #'min_samples_split': min_samples_split,
#               #'min_samples_leaf': min_samples_leaf}
# print(random_grid)

In [29]:
rf = RandomForestRegressor()

In [30]:
# rf_random= GridSearchCV(estimator=rf,param_grid=random_grid,scoring='neg_mean_squared_error',cv=3,verbose=2,n_jobs=1)

training the model on random forest regressor

In [31]:
rf.fit(X_train,y_train)

RandomForestRegressor()

running the model on the test data

In [32]:
predictions = rf.predict(X_test)

getting predicting values in integer format

In [33]:
predictions = predictions.astype(int)

In [34]:
predictions

array([187, 192, 191, ..., 116, 114, 113])

In [35]:
y_test

array([207, 207, 207, ..., 107, 107, 107], dtype=int64)

calculating the accuracy  and loss

In [36]:
from sklearn.metrics import accuracy_score,log_loss
accuraccy = accuracy_score(y_test,predictions)
# loss = log_loss(y_test,predictions)

In [37]:
accuraccy

0.02771778257739381

In [38]:
df2 = pd.DataFrame()

In [39]:
df2['y_test'] = y_test
df2['predictions'] = predictions
df2

      y_test  predictions
0        207          187
1        207          192
2        207          191
3        207          192
4        207          189
...      ...          ...
2773     107          116
2774     107          117
2775     107          116
2776     107          114
2777     107          113

[2778 rows x 2 columns]

#XGboost Regressor

importing the XGBoost Regressor and training the model

In [40]:
from xgboost import XGBRegressor
xg = XGBRegressor()
xg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

running the model on test data

In [41]:
predictions1 = xg.predict(X_test)

getting predicting values in integer format

In [42]:
predictions1 = predictions.astype(int)

In [43]:
predictions1

array([187, 192, 191, ..., 116, 114, 113])

calculating the accuracy  and loss

In [44]:
from sklearn.metrics import accuracy_score,log_loss
accuraccy1 = accuracy_score(y_test,predictions1)
#loss = log_loss(y_test,predictions)

In [45]:
accuraccy1

0.02771778257739381

In [46]:
df5 = pd.DataFrame()
df5['y_test'] = y_test
df5['predictions'] = predictions1
df5['diff'] = df5['y_test']-df5['predictions']

making the XGboost regressor model pickle file to use in web application

In [47]:
import pickle
# file = open('randomforest_runpredictor.pickle','wb')
pickle.dump(rf, open('randomforest_runpredictor.pickle', 'wb'))

In [49]:
with open('/content/randomforest_runpredictor.pickle','rb') as f:
        model = pickle.load(f)

FileNotFoundError: [Errno 2] No such file or directory: '/content/randomforest_runpredictor.pickle'

In [ ]:
xg.save_model('xgboost.json')